<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Confirmation</title>
  <link rel="stylesheet" href="confirmation.component.css">
</head>

<body >
<!-- style= "background-image: url('/src/app/components/images/confpg-gif.gif');"> -->
<img src="/src/app/components/images/cnf-image.jpeg" class="background-gif" alt="Background GIF">
  <div class="container">
    <h1>Order Confirmation Status </h1>
    <!-- <p>Order Number: {{ orderDetails.orderNumber }}</p>
    <p>Order Date: {{ orderDetails.orderDateTime }}</p>
    <p>Total Price: {{ orderDetails.totalPrice }}</p> -->
    <p>Your Order has been placed Successfully.</p>
    <div class="logo-gif-container">
      <img src="/src/app/components/images/confirm.gif" alt="Logo GIF">
    </div>
    <div class="btn-container">
      <a  href="/src/app/components/drugs/drugs-list/drugs-list.component.html" class="btn">Continue Shopping</a>
    </div>
  </div>
</body>

</html>
