<html>
  <head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>
<body>
  <div  class="container">
  <div>
    <h1>
      <p style="text-align: center; color: black;">Hello, </p>
    </h1>
  </div>
  <br>
  <div>
    <h1>
      <p style="text-align: center; color: black;">Welcome to WeCareForAll </p>
    </h1>
  </div>

  <br>

  <div >
    <h1>
      <p style="text-align: center; color: black;">Visit shop!!
        Please Login </p>
    </h1>
  </div>
</div>
</body>

</html>